.tab .list3 .tab-tu3{
	background-image:url(../img/gouwuche2.png) ;
}
.tab .list3 .text3{
	color: #ff6700;
}
main{
	padding: 1.56rem 0;
	box-sizing: border-box;
}
.con1-box{
	width: 100%;
	height: 1.56rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.42rem;
	color: #222222;
	padding: 0 0.46rem;
	box-sizing: border-box;
}
.con1-box .con1-box-right {
	font-size: 0.34rem;
	color: #717171;
	display: flex;
	align-items: center;
}
.con1-box .con1-box-right i{
	font-size: 0.6rem;
}
.con2-box{
	width: 100%;
	height: 1.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.32rem;
	color: #9d9d9d;
	background: #ebebeb;
}
.con2-box img{
	width: 1.22rem;
	height: 1.06rem;
}
.con2-box>div{
	padding: 0 0.26rem;
}
.con2-box>span{
	color: #252525;
	padding: 0.1rem 0.36rem;
	border: 0.03rem solid #c7c7c7;
	
}
.con3-tu{
	width: 100%;
	height: 1.78rem;
	border-bottom: 0.1rem;
}
.con3-tu img{
	width: 100%;
	height: 100%;
}
.shop{
	width: 100%;
	height: 7.04rem;
	display: flex;
	justify-content: space-between;
}
.shop>div{
	width: 49.5%;
	height: 100%;
}
.shop img{
	width: 100%;
	height: 5.34rem;
}
.shop .text1{
	font-size: 0.45rem;
	color: #363636;
	margin-left: 0.4rem;
}
.shop .text2{
	font-size: 0.44rem;
	color: #f66c14;
	margin-left: 0.4rem;
}

.shop .text2 .i2{
	font-size: 0.15rem;
	color: #757575;
	vertical-align: top;
}
.shop .text2 s{
	font-size: 0.15rem;
	color: #757575;
	vertical-align: text-bottom;
}